<!-- /snippets/product-grid-item.liquid -->
{% comment %}

  This snippet is used to showcase each product during the loop,
  'for product in collection.products' in collection.liquid.

{% endcomment %}

{% comment %}
  Check if the product is on sale and set a variable to be used below.
{% endcomment %}
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% comment %}
  Check if the product is sold out and set a variable to be used below.
{% endcomment %}
{% assign sold_out = true %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}

<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
  <div class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title mdl-card--expand">
      <a href="{{ product.url | within: collection }}" class="grid__image">
        <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
      </a>
      <h2 class="mdl-card__title-text">
        <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
      </h2>
    </div>
    <div class="mdl-card__supporting-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Aenan convallis.
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        View Updates
      </a>
    </div>
    <p>
      {% comment %}
        You can show a leading 'from' or 'up to' by checking 'product.price_varies'
        if your variants have different prices.
      {% endcomment %}
      {% if on_sale %}
        {% if product.price_varies %}
          {% assign sale_price = product.price | money %}
          {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
        {% else %}
          <strong>{{ 'products.product.on_sale' | t }}</strong>
          {{ product.price | money }}
        {% endif %}
      {% else %}
        {% if product.price_varies %}
          {% assign price = product.price | money %}
          {{ 'products.general.from_text_html' | t: price: price }}
        {% else %}
          {{ product.price | money }}
        {% endif %}
      {% endif %}
      {% if sold_out %}
        <br><strong>{{ 'products.product.sold_out' | t }}</strong>
      {% endif %}
      {% if on_sale %}
        <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
        <br><s>{{ product.compare_at_price | money }}</s>
      {% endif %}
    </p>
  </div>
</div>
