<!-- /snippets/product-grid-item.liquid -->
{% comment %}

  This snippet is used to showcase each product during the loop,
  'for product in collection.products' in collection.liquid.

{% endcomment %}

{% comment %}
  Check if the product is on sale and set a variable to be used below.
{% endcomment %}
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% comment %}
  Check if the product is sold out and set a variable to be used below.
{% endcomment %}
{% assign sold_out = true %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}

<div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
  <div class="collection-card mdl-card mdl-shadow--2dp">
    {% comment %}
    <div class="mdl-card__title mdl-card--expand">
      <img src="{{product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
    </div>
    {% endcomment %}
    <a href="{{ product.url | within: collection }}"><div class="card-bg-image" style="background: url({{ product.featured_image | img_url: 'large'  }}) no-repeat center center"></div></a>

    <div class="collection-card__text-wrapper">
      <div class="mdl-card__supporting-text">
        <h2 class="left mdl-card__title-text">
          <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
        </h2>
        <h2 class="right mdl-card__title-text">
          {% comment %}
            You can show a leading 'from' or 'up to' by checking 'product.price_varies'
            if your variants have different prices.
          {% endcomment %}
          {% if on_sale %}
            {% if product.price_varies %}
              {% assign sale_price = product.price | money %}
              {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
            {% else %}
              <strong>{{ 'products.product.on_sale' | t }}</strong>
              {{ product.price | money }}
            {% endif %}
          {% else %}
            {% if product.price_varies %}
              {% assign price = product.price | money %}
              {{ 'products.general.from_text_html' | t: price: price }}
            {% else %}
              {{ product.price | money }}
            {% endif %}
          {% endif %}
          {% if sold_out %}
            <br><strong>{{ 'products.product.sold_out' | t }}</strong>
          {% endif %}
          {% if on_sale %}
            <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
            <br><s>{{ product.compare_at_price | money }}</s>
          {% endif %}
        </h2>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        {% comment %}
          ID addToCartForm is a selector for the ajax cart plugin
        {% endcomment %}
        <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form-vertical no-margin">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
              <select name="id" id="productSelect" class="product-single__variants max-width quick-order-item">
                {% for variant in product.variants %}
                  {% if variant.available %}

                  {% comment %}
                      Note: if you use option_selection.js, your <select> tag will be overwritten, meaning what you have inside <option> will not reflect what you coded below.
                  {% endcomment %}
                  <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

                  {% else %}
                  <option disabled="disabled">
                      {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                  </option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>

            <div class="mdl-cell mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
              <label for="Quantity" class="quantity-selector visually-hidden">{{ 'products.product.quantity' | t }}</label>
              <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
            </div>

            <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
            <span id="ProductPrice" class="h2" itemprop="price">{{ current_variant.price | money }}</span>

            <div class="mdl-cell mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
              <button type="submit" name="add" id="AddToCart" class="max-width mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
