<!-- /templates/collection.liquid -->
{% comment %}

  For more information on collection tags:
    - http://docs.shopify.com/themes/liquid-variables/collection

{% endcomment %}

{% paginate collection.products by 12 %}

<nav>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet">
      {% include 'breadcrumb' %}
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet">
      <h1 class="section-header__title">{{ collection.title }}</h1>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet">
      {% include 'collection-sidebar' %}
    </div>
  </div>
    <div class="rte rte--header">
      {{ collection.description }}
    </div>
    <hr>
    <div class="section-header">
      <div class="section-header__right">
        {% include 'collection-sorting' %}
      </div>
    </div>
</nav>

  <div class="mdl-grid">
    {% comment %}
      Loop through our products in the current collection.
      See the snippet 'product-grid-item' for the layout.
    {% endcomment %}
    {% for product in collection.products %}

      {% include 'product-grid-item' %}

    {% else %}

      {% if collection.handle == 'all' and current_tags == '' %}

        {% comment %}
          Add default products to help with onboarding for collections/all only
        {% endcomment %}
        {% unless emptyState %}
          {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
          {% assign emptyState = true %}
        {% endunless %}
        {% include 'onboarding-empty-collection' %}

      {% else %}

        {% comment %}
          If collection exists but is empty, display message
        {% endcomment %}
        <div class="grid__item">
          <p>{{ 'collections.general.no_matches' | t }}</p>
        </div>

      {% endif %}
    {% endfor %}
  </div>

  {% if paginate.pages > 1 %}
    <hr>
    <div class="pagination">
      {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
    </div>
  {% endif %}
{% endpaginate %}
