<!-- /templates/index.liquid -->
{% comment %}

This is the homepage of your site.

More info on global variables (available on all templates):
- http://docs.shopify.com/themes/liquid-variables/global
{% endcomment %}

<div class="max-wrapper">
  <section class="pad-eight index-page__slider" style="visibility: hidden">
    {% for product in collections.frontpage.products%}
      <div class="index-page__slider-container">
        {% for image in product.images %}
          <div>
            <img src="{{image.src | product_img_url: 'large' }}" alt="{{ image.alt | escape }}">
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </section>
  <section class="index-page__about-me">

  </section>

  <h2>{{ 'homepage.sections.frontpage_title' | t }}</h2>

  {% comment %}
  Use class grid-uniform to have evenly sized columns clear
  each other properly at each breakpoint.
  {% endcomment %}
  <div class="mdl-grid">
    {% for product in collections.frontpage.products limit:4 %}
      {% include 'product-grid-item' %}
    {% endfor %}
  </div>

  {% comment %}

  <hr>

  Loop through three recent blog articles with the following code.

  Since we're not on the blog template, we need to define the blog
  handle we want to focus on. For this example we'll use the default 'news',
  but you can create a blog page-specific content if you want.

  <h2>{{ 'homepage.sections.news_title' | t }}</h2>

  <div class="grid">
    {% for article in blogs['news'].articles limit:3 %}

      <div class="grid__item large--one-third">

        <time
          datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: 'month_day_year' }}</time>
        <h3><a href="{{ article.url }}">{{ article.title }}</a></h3>

        {% comment %}
        Add a surrounding div with class 'rte' to anything that will come from the rich text editor.
        Since this is just a listing page, you can either use the excerpt or truncate the full article.
        {% endcomment %}
        <div class="rte">
          {% if article.excerpt.size > 0 %}
            {{ article.excerpt }}
          {% else %}
            <p>{{ article.content | strip_html | truncatewords: 20 }}</p>
          {% endif %}
        </div>

        {% comment %}
        Show off meta information like number of comments and tags.
        {% endcomment %}
        <ul>
          {% if blog.comments_enabled? %}
            <li>
              <a href="{{ article.url }}#comments">
                {{ article.comments_count }}
                {{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}
              </a>
            </li>
          {% endif %}
        </ul>

        <p><a href="{{ article.url }}">{{ 'blogs.article.read_more' | t }} &rarr;</a></p>

      </div>

    {% endfor %}
  </div>
  {% endcomment %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('.index-page__slider-container').slick({
        infinite: true,
        dots: true
      });
      $('.index-page__slider').css('visibility', 'visible')
    });
  </script>
</div>
