<!-- /templates/swift-order.liquid -->
{% comment %}

  Order page for quick ordering all items in all collections

{% endcomment %}

{% capture uses_minimal_framework %}{% include 'product-loop' %}{% endcapture %}
{% if uses_minimal_framework contains 'Liquid error' %}
  {% assign uses_minimal_framework = false %}
  {% assign grid_item_width = 'large--one-quarter medium--one-third small--one-half large--col-3 medium--col-4 small--col-6' %}
{% else %}
  {% assign uses_minimal_framework = true %}
  {% assign grid_item_width = 'span3' %}
{% endif %}

{% include 'breadcrumb' %}

{% if linklists[page.handle].links.size > 0 %}

	{% assign number_of_links = 0 %}
  	<div class="grid-uniform{% if uses_minimal_framework %} row{% endif %} clearfix">

	    {% for link in linklists[page.handle].links %}
	        {% assign collection = link.object %}
	        {% assign number_of_links = number_of_links | plus: 1 %}
	        <div class="item-collection">
		        <div class="grid__title">
					<h2 class="no-margin">{{collection.title}}</h2>
				</div>
				{% for product in collection.products %}
					<div class="grid__item">
				      	<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
				        	<meta itemprop="priceCurrency" content="{{ shop.currency }}">

				        	<link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

					        {% comment %}
					          ID addToCartForm is a selector for the ajax cart plugin
					        {% endcomment %}
					        <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form-vertical no-margin">
						        <div class="grid">
						        	<div class="grid__item large--one-third medium--one-half ">
						        		<h3 class="quick-order-item-title" itemprop="name">{{ product.title }}</h3>
						        	</div>

						        	<div class="grid__item large--one-third medium--one-half">
						        		<select name="id" id="productSelect" class="product-single__variants max-width quick-order-item">
											{% for variant in product.variants %}
												{% if variant.available %}

												{% comment %}
												  	Note: if you use option_selection.js, your <select> tag will be overwritten, meaning what you have inside <option> will not reflect what you coded below.
												{% endcomment %}
												<option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

												{% else %}
												<option disabled="disabled">
												  	{{ variant.title }} - {{ 'products.product.sold_out' | t }}
												</option>
												{% endif %}
											{% endfor %}
										</select>
						        	</div>

									<div class="grid__item large--one-sixth push--medium--one-half medium--one-quarter small--one-half amount">
										<label for="Quantity" class="quantity-selector visually-hidden">{{ 'products.product.quantity' | t }}</label>
										<input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
									</div>

									<span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
									<span id="ProductPrice" class="h2" itemprop="price">{{ current_variant.price | money }}
									</span>

									<div class="grid__item large--one-sixth push--medium--one-half medium--one-quarter small--one-half">
								        <button type="submit" name="add" id="AddToCart" class="btn mobile-max-width quick-order-item">
								            <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
								        </button>
								    </div>
						        </div>
					        </form>
						</div>
				    </div>
				{% endfor %}
			</div>
		{% endfor %}
	</div>
{% endif %}
